.slick-prev,
.slick-next {
  display: none !important;
}

.slider-container {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.description{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem
}
.img_utn{
  width: 30%;
  border-radius: 20px;
}
.loader {
  width: 100px;
  height: 50px;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
  color: skyblue;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}
.loader:after {
  --s:-1;
}
@keyframes l2 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}

.span-1,
.span-3{
  color:skyblue;
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.span-2{
  font-size:3rem
}

@media screen and (max-width: 600px) {
  .img_utn{
    width: 50%;
  }
  .span-1,
.span-3{
  color:skyblue;
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 8px;
}
.span-2{
  font-size:1.5rem;
  padding-top: 8px;
}
}