.card__group {
  display: flex;
  margin-top: 3rem;
  width: 100%;
  height: 35rem;
}


span {
  margin-top: 0.3rem;
  font-size: 2rem;
}

.title {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 3.5rem;
  border-radius: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--color-light);
  font-weight: 700;
}

li {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.icon__li {
  font-size: 3rem;
  color: green;
}

.card {
  margin-top:1rem;
  margin-bottom: 2rem;
}

.about-img{
  width:50%;
  height: 90%;
}

.loader_about {
  width: 80px;
  height: 40px;
  color: #10d84f;
  border: 2px solid white;
  border-right-color: transparent;
  padding: 3px;
  background: 
    repeating-linear-gradient(90deg,currentColor 0 10px,#0000 0 15px) 
    0/0% no-repeat content-box content-box;
  position: relative;
  animation: l5 2s infinite steps(6);
}
.loader_about::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: 100%;
  width: 10px;
  background:
    linear-gradient(
        #0000   calc(50% - 7px),white 0 calc(50% - 5px),
        #0000 0 calc(50% + 5px),white 0 calc(50% + 7px),#0000 0) left /100% 100%,
    linear-gradient(white calc(50% - 5px),#0000        0 calc(50% + 5px),white 0) left /2px 100%,
    linear-gradient(#0000        calc(50% - 5px),white 0 calc(50% + 5px),#0000        0) right/2px 100%;
  background-repeat:no-repeat;
}
@keyframes l5 {
    100% {background-size:120%}
}



@media screen and (max-width: 1024px) {
  .card__group {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
  }

  .title {
    margin-bottom: 2.5rem;
  }

  .icon {
    font-size: 2.5rem;
  }
  
  .card {
    margin-top: 3rem;
  }

}

@media screen and (max-width: 600px) {

  .card__group {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
  }

  .title {
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }

  .icon {
    font-size: 2rem;
  }

  .icon__li {
    font-size: 2rem;
  }
  span {
    margin-top: 0.3rem;
    font-size: 1.5rem;
  }
  .about-img{
    width:80%;
    height: 50%;
  }
}
