.card__group {
  margin-top: 2rem;
  width: 80%;
  height: 35rem;
}

.icon {
  font-size:2.5rem;
  margin-top: 0.2rem;
}

span {
  margin-top: 0.3rem;
  font-size: 2rem;
}

.title {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 3.5rem;
  background: #279eff38;
  border-radius: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--color-light);
  font-weight: 700;
}

li {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.icon__li {
  font-size: 3rem;
}

.card {
  margin-top:2rem;
}

@media screen and (max-width: 1024px) {
  .card__group {
    width: 90%;
    margin-top: 0.2rem;
  }

  .title {
    margin-bottom: 2.5rem;
  }

  .icon {
    font-size: 2.5rem;
  }
  
  .card {
    margin-top: 3rem;
  }

}

@media screen and (max-width: 600px) {

  .card__group {
    width: 100%;
  }

  .title {
    margin-bottom: 3rem;
    font-size: 1.2rem;
  }

  .icon {
    font-size: 2rem;
  }

  .icon__li {
    font-size: 2rem;
  }
  span {
    margin-top: 0.3rem;
    font-size: 1.5rem;
  }
}
