header {
  height: 100vh;
  padding-top: 3rem;
  text-align: center;
}

.btn__primary {
  color: var(--color-light);
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.8rem;
  border: 2px solid var(--color-light);
  text-align: center;
  }

.btn__primary:hover {
  background: var(--color-light);
  color: var(--color-bg);
}

.btn__secondary {
  color: var(--color-primary);
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.8rem 2rem;
  border: 2px solid var(--color-primary);
  text-align: center;
}

.btn__secondary:hover {
  background: var(--color-primary);
  color: var(--color-light)
}

.btn {
  display: flex;
  margin-top: 0.8rem;
  gap: 2.5rem;
  justify-content: center;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  position: absolute;
  left: 12;
  top: 20rem;
}

.link__socials {
  font-size: 1.8rem;
  color: var(--color-light);
}

.link__socials:hover {
  color: var(--color-primary);
}

.img__container {
  margin-top:6rem;
  margin-bottom: 4rem;
}

.img {
  width: 65%;
  object-fit: cover;
}

.loader_pacman {
  position: absolute;
  bottom: 100px;
  left:250px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 98%,#0000) 55% 20%/8px 8px no-repeat,  
    #ffcc00;
  box-shadow: 2px -6px 12px 0px inset rgba(0, 0, 0, 0.7);
  animation: l4 .5s infinite steps(5) alternate;
}
@keyframes l4{ 
    0% {clip-path: polygon(50% 50%,100%   0,100% 0,0 0,0 100%,100% 100%,100% 100%)}
  100% {clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100%  35%)}
}

@media screen and (max-width: 1024px)  {
  header,section {
    height: 100vh;
  }

  .img {
    width: 80%;
  }

  .header__socials {
    bottom: 20rem;
  }
}

@media screen and (max-width: 600px)  {

  .header__socials {
    display: none;
  }

  .img {
    width: 100%;
    margin-top: 5rem;
  }

  .btn {
    gap: 0.4rem;
    flex-direction: row;
  }

  .btn a {
    font-size: 0.8rem;
  }

  .loader_pacman{
    display: none;
  }

}
