.nav {
  display: flex;
  gap: 1rem;
}

a {
  color: white;
}

nav {
  background: #00000076;
  width: max-content;
  display: block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin: 0 auto;
  display: block;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 2rem;
}

nav:hover {
  background: var(--color-primary);
}

nav a {
  font-size: 1rem;
  font-weight: 700;
}

nav a:hover {
  color: var(--color-bg);
}

nav a.active {
  color: var(--color-yellow);
}