.nav {
  display: flex;
  gap: 3rem;
}

a {
  color: white;
  cursor: pointer;
}

nav {
  background: #279eff38;
  width: max-content;
  display: block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  margin: 0 auto;
  display: block;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 4rem;
}

nav a {
  font-size: 1rem;
  font-weight: 600;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  color: var(--color-yellow);
}

@media screen and (max-width: 600px) {
  .nav {
      gap: 1.5rem;   
  }

  nav {
    top: 3rem;
  }
}