footer {
  position: relative;
  background: var(--color-primary);
  border-top-left-radius: 10% 60%;
  padding: 6rem;
  text-align: center;
  margin-top:5rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--color-bg)
}

.sections {
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 1rem;
}

.socials__icons {
  font-size:  2rem;
  display: flex;
  gap: 2.5rem;
  justify-content: center;
}

.socials__icons:hover {
  color: var(--color-bg);
}

li a {
  color: var(--color-bg);
}

li a:hover {
  color: var(--color-light);
}

.copyright {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon__copy {
  font-size: 1rem;
}

@media screen and (max-width: 1024px)  {

  footer {
    padding:3rem;
  }
  .sections {
    gap: 1.2rem;
  }
  .socials__icons {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 800px)  {

  footer {
    flex-direction: column;
    padding:2rem;
    border-top-left-radius: 0%;
  }

  .container__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

}